.Landing {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Wrap {
    display: inline-block;
    border-radius: 5px;
    padding: 30px 80px;
}
.Wrap > h2,
.Wrap > h1 {
    color: var(--primary);
    font-weight: 600;
}
.Wrap > h1 {
    font-size: 60px;
    margin: 0;
}
.Wrap > h2 {
    margin: 10px;
    font-size: 30px;
}
